#header-icon {
    width: 20%;
    height: auto;
}

.header-def {
    text-align: right;
}

.hidden {
    display: none;
}

.pic {
    justify-self: center;
    height: 12rem;
    width: auto;
}

.info-name {
    font-size: x-large;
    color: rgb(5, 170, 170);
}

.nav-img {
    max-width: 275px;
    max-height: 3000px;
}

.nav-btn {
    background-color: rgb(241, 247, 247);
}

header {
    background-color: rgb(255, 255, 255);
}

body {
    background: linear-gradient(200deg, rgb(198, 134, 235), rgb(25, 156, 177));
    background-attachment: fixed;
}

#item-view {
    background-color: rgb(255, 255, 255, 0.5);
}